<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCc_aGu_D1hTuGN1JAXQhjI5tE6F_9ddpY</string>
	<key>GCM_SENDER_ID</key>
	<string>589761932338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cheshire0105.Dots</string>
	<key>PROJECT_ID</key>
	<string>dots-3ad09</string>
	<key>STORAGE_BUCKET</key>
	<string>dots-3ad09.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589761932338:ios:163ede8f321621ad0ce02b</string>
</dict>
</plist>